<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<head>
    <style>
        span{
            color: #A6121F;
        }

    </style>
</head>

<div layout:fragment="content">

    <br /> <br /> <br /> <br /> <br /> <!--왜 이럼??-->

    <!--Test section-->
    <section id="test" class="test bg-grey roomy-60 fix">
        <div class="container">
            <div class=" row">
                <div class="main_test fix">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="head_title text-center fix">
                            <h2 class="text-uppercase">우수CI</h2>
                            <h3>글로벌, 신뢰와 믿음, 미래지향을 향해 나아가는 기업</h3>
                            <h5>적극적인 마인드로 미래를 향해 뻗어나가는 우수AMS(주)가 되겠습니다.</h5>
                        </div>

                    </div>
                </div>

<!--                <div class="test_position" style="display: table; height: 300px;">-->
<!--                    <div class="col-md-6" style="display: table-cell; vertical-align: middle; width: 700px">-->
<!--                        <div class="test_item fix" style="display: inline-block;">-->
<!--                            <img src="css/images/ci_img_01.gif" alt="" style="padding-bottom: 30px"/>-->
<!--                            <div class="item_text">-->
<!--                                <h5><b>Concept</b></h5>-->
<!--                                <h6>우수AMS(주)의 Corporate Identity[CI]는 <span>글로벌, 신뢰와 믿음, 미래지향</span></h6>-->
<!--                                <p>점진적으로 발전하는 미래지향을 표현하기 위해 역동적이고 속도감 있는 서체 사용<br/>-->
<!--                                    주목성이 있는 사선형 구도와 화살표를 연상시키는 그래픽을 이용해<br/>-->
<!--                                    활동성을 주고 앞으로 뻗어가는 기업 이미지를 표현-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="test_position" style="display: table; height: 300px;">-->
<!--                    <div class="col-md-6" style="display: table-cell; vertical-align: middle; width: 700px">-->
<!--                        <div class="test_item fix" style="display: inline-block;">-->
<!--                            <img src="css/images/ci_img_02.gif" alt="" style="padding-bottom: 30px"/>-->
<!--                            <div class="item_text">-->
<!--                                <h5><b>색상 활용</b></h5>-->
<!--                                <p> RED는 잔보하며 발전하는 WOOSU의 열정과 의지를<br/>-->
<!--                                    BLACK은 RED와 강렬한 대비를 이루는 WOOSU의 신뢰성을 나타냄-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="test_position" style="display: table; height: 300px;">-->
<!--                    <div class="col-md-6" style="display: table-cell; vertical-align: middle; width: 700px">-->
<!--                        <div class="test_item fix" style="display: inline-block;">-->
<!--                            <img src="css/images/ci_img_03.gif" alt="" style="padding-bottom: 30px"/>-->
<!--                            <div class="item_text">-->
<!--                                <h5><b>로고타입</b></h5>-->
<!--                                <p>워터마크 [myriad bold]</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="test_position" style="display: table; height: 300px;">-->
<!--                    <div class="col-md-6" style="display: table-cell; vertical-align: middle; width: 700px">-->
<!--                        <div class="test_item fix" style="display: inline-block;">-->
<!--                            <img src="css/images/ci_img_04.gif" alt="" style="padding-bottom: 30px"/>-->
<!--                            <div class="item_text">-->
<!--                                <h5><b>Symbol & Logo Type color version</b></h5>-->
<!--                                <p>심볼, 로고 타입 [컬러버전]</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="test_position" style="display: table; height: 300px;">-->
<!--                    <div class="col-md-6" style="display: table-cell; vertical-align: middle; width: 700px">-->
<!--                        <div class="test_item fix" style="display: inline-block;">-->
<!--                            <img src="css/images/ci_img_05.gif" alt="" style="padding-bottom: 30px"/>-->
<!--                            <div class="item_text">-->
<!--                                <h5><b>Car System</b></h5>-->
<!--                                <p>차량은 이동성으로 인하여 일반 대중과 친밀감을 유도하므로<br/>-->
<!--                                    일관된 이미지를 형성하는데 매우 유용한 홍보매체이다.<br/>-->
<!--                                    디자인 요소들은 지정색 시트를 컴퓨터 컷팅하여 부착한다.-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="col-md-6">
                    <div class="test_item fix sm-m-top-30">
                        <div class="item_img">
                            <img src="css/images/ci_img_01.gif" alt="" style="padding-bottom: 30px">
                        </div>

                        <div class="item_text">
                            <h5><b>Concept</b></h5>
                            <h6>우수AMS(주)의 Corporate Identity[CI]는 <span>글로벌, 신뢰와 믿음, 미래지향</span></h6>
                            <p>점진적으로 발전하는 미래지향을 표현하기 위해 역동적이고 속도감 있는 서체 사용<br/>
                                주목성이 있는 사선형 구도와 화살표를 연상시키는 그래픽을 이용해<br/>
                                활동성을 주고 앞으로 뻗어가는 기업 이미지를 표현
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="test_item fix sm-m-top-30" style="height: 340px">
                        <div class="item_img">
                            <img src="css/images/ci_img_02.gif" alt="" style="padding-bottom: 30px"/>
                        </div>

                        <div class="item_text">
                            <h5><b>색상 활용</b></h5>
                            <p> RED는 잔보하며 발전하는 WOOSU의 열정과 의지를<br/>
                                BLACK은 RED와 강렬한 대비를 이루는 WOOSU의 신뢰성을 나타냄
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="test_item fix sm-m-top-30" style="height: 460px">
                        <div class="item_img">
                            <img src="css/images/ci_img_03.gif" alt="" style="padding-bottom: 30px"/>
                        </div>

                        <div class="item_text" style="padding-top: 50px">
                            <h5><b>로고타입</b></h5>
                            <p>워터마크 [myriad bold]</p>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="test_item fix sm-m-top-30">
                        <div class="item_img">
                            <img src="css/images/ci_img_04.gif" alt="" style="padding-bottom: 30px"/>
                        </div>

                        <div class="item_text">
                            <h5><b>Symbol & Logo Type color version</b></h5>
                            <p>심볼, 로고 타입 [컬러버전]</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="test_item fix sm-m-top-30">
                        <div class="item_img">
                            <img src="css/images/ci_img_05.gif" alt="" style="padding-bottom: 30px"/>
                        </div>

                        <div class="item_text">
                            <h5><b>Car System</b></h5>
                            <p>차량은 이동성으로 인하여 일반 대중과 친밀감을 유도하므로<br/>
                                일관된 이미지를 형성하는데 매우 유용한 홍보매체이다.<br/>
                                디자인 요소들은 지정색 시트를 컴퓨터 컷팅하여 부착한다.</p>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section><!-- End off test section -->

    <!--Call to  action section-->
    <section id="action" class="action bg-primary roomy-40">
        <div class="container">
            <div class="row">
                <div class="maine_action">
                    <div class="col-md-8">
                        <div class="action_item text-center">
                            <h2 class="text-white text-uppercase">PRODUCTS INFO</h2>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="action_btn text-left sm-text-center">
                            <a href="" class="btn btn-default">자세히 보기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>


</html>