<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<head>
    <script type="text/javascript">
        $("document").ready(function() {
            $(".btn").click(function(){
                var content_id = $(this).attr('data-tab');

                $('.btn').removeClass('current');
                $('.text').removeClass('current');

                $(this).addClass('current');
                $("#"+content_id).addClass('current');
            })
        });

    </script>
    <style>
        .col{
            padding-top: 50px;
            padding-bottom: 20px;
        }
        .btn{
            color: #222222;
            font-weight: bold;
            font-size: 30px;
            text-decoration: none;
            margin-right: 10px;
            background-color: transparent !important;
            border: 0;
            outline: 0;
            padding-bottom: 50px;

        }
        .btn.current{
            color: #A6121F;
            font-weight: bold;
            font-size: 30px;
            text-decoration: none;
            margin-right: 10px;
            border: 0;
            outline: 0;
            background-color: transparent !important;
            padding-bottom: 50px;
        }
        .text{
            display:none;
        }
        .text.current{
            display: inherit;
        }
        .title{
            float: left;
        }
        h6{
            text-align: center;

        }
        p{
            text-align: center;
            padding-bottom: 10px;
        }

    </style>
</head>
<div layout:fragment="content">
    <div class="container">
        <div class="row" style="margin-top:100px;">
            <div class="col">
                <div class="btn current" data-tab="content-1">2020's</div>
                <div class="btn" data-tab="content-2">2010's</div>
                <div class="btn" data-tab="content-3">2000's</div>
                <div class="btn" data-tab="content-4">1990's</div>
                <div class="btn" data-tab="content-5">1980's</div>

                <div class="text current" id="content-1">
                </div>

                <div class="text" id="content-2">
                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>2015</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>7월</h6>
                            <p>우수AMS(주)CASCO 설립 (D/C공장)</p>
                        </div>
                        <div class="item_text">
                            <h6>3월</h6>
                            <p>소재 (D/C공장) 착공</p>
                        </div>
                    </div>

                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>2014</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>12월</h6>
                            <p>2014년 창원상공대상 경영부문 수상</p>
                        </div>
                        <div class="item_text">
                            <h6>6월</h6>
                            <p>기술연구소 신축</p>
                        </div>
                    </div>

                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>2013</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>11월</h6>
                            <p>OHSAS 18001 인증 획득</p>
                        </div>
                    </div>

                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>2012</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>12월</h6>
                            <p>제 49회 무역의 날 일억불 수출탑 수상</p>
                        </div>
                        <div class="item_text">
                            <h6>4월</h6>
                            <p>울산 신 공장 이전 및 가동</p>
                        </div>
                    </div>
                </div>



                <div class="text" id="content-3">
                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>2009</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>12월</h6>
                            <p>제 46회 무역의 날 삼천만불 수출탑 수상</p>
                        </div>
                        <div class="item_text">
                            <h6>9월</h6>
                            <p>자동차용 Air Compressor의 제조 기술 도입 계약 체결(일본 SANWA)</p>
                        </div>
                        <div class="item_text">
                            <h6>4월</h6>
                            <p>특허 3건 양수(오토브레이크 관련 특허)</p>
                        </div>
                    </div>

                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>2008</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>5월</h6>
                            <p>석탑산업훈장 수훈(중소기업유공자)</p>
                        </div>
                    </div>

                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>2007</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>12월</h6>
                            <p>계열사 'WOOSU AUTOMOTIVE INDIA PRIVATE LIMITED' 설립</p>
                        </div>
                        <div class="item_text">
                            <h6>9월</h6>
                            <p>계열사 '우수정기(주)' 100% 출자회사 설립</p>
                        </div>
                        <div class="item_text">
                            <h6>6월</h6>
                            <p>보통주 3,498,600주 무상증자(증자 후 자본금 5,831백만원)</p>
                        </div>
                        <div class="item_text">
                            <h6>4월</h6>
                            <p>헬리코일 기립배열장치 특허 취득(제 10-0710622호)</p>
                        </div>
                        <div class="item_text">
                            <h6>3월</h6>
                            <p>보통주 4,802,000주 무상증자(증자 후 자본금 5,831백만원)<br/>
                                헬리코일 삽입장치 특허 취득(제10-0692200호)<br/>
                                우수AMS(주)로 상호변경(구. 우수기계공업주식회사)</p>
                        </div>
                    </div>

                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>2005</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>11월</h6>
                            <p>제 42회 무역의 날 이천만불 수출탑 수상</p>
                        </div>
                        <div class="item_text">
                            <h6>10월</h6>
                            <p>제 11회 경남무역인상 표창(한국무역협회장)</p>
                        </div>
                        <div class="item_text">
                            <h6>5월</h6>
                            <p>보통주 3,430,000주 무상증자(증자 후 자본금 3,430백만원)<br/>
                                TS 16949 인증 획득(인증기관: 미국 ABS QE)</p>
                        </div>
                    </div>

                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>2004</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>6월</h6>
                            <p>창원공장으로 본사 이전</p>
                        </div>
                    </div>

                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>2003</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>7월</h6>
                            <p>창원공장 신축공사 착공식</p>
                        </div>
                        <div class="item_text">
                            <h6>3월</h6>
                            <p>QS9000 인증 획득(인증기관: 미국 ABS QE)</p>
                        </div>
                        <div class="item_text">
                            <h6>2월</h6>
                            <p>함안 제 2공장 증축</p>
                        </div>
                    </div>


                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>2002</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>3월</h6>
                            <p>제 36회 납세자의 날 표창(부산지방국세청장)</p>
                        </div>
                    </div>

                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>2001</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>11월</h6>
                            <p>ISO 14000 인증획득(인증기관: 미국 ABS QE)</p>
                        </div>
                        <div class="item_text">
                            <h6>10월</h6>
                            <p>저축의 날 표창(재정경제부 장관 진념)</p>
                        </div>
                        <div class="item_text">
                            <h6>3월</h6>
                            <p>모범상공인 국무 총리실 수상</p>
                        </div>
                    </div>

                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>2000</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>12월</h6>
                            <p>공장혁신운동 우수상 획득(대우자동차 창원사업본부)</p>
                        </div>
                        <div class="item_text">
                            <h6>9월</h6>
                            <p>우상증자 250백만원(증자후 자본금 1,200백만원)</p>
                        </div>
                        <div class="item_text">
                            <h6>8월</h6>
                            <p>울산공장 증축(650평)</p>
                        </div>
                        <div class="item_text">
                            <h6>4월</h6>
                            <p>경남미래산업재단 ERP 전자상거래 모델업체 선정</p>
                        </div>
                        <div class="item_text">
                            <h6>3월</h6>
                            <p>우수AMS(주) 부설연구소 설립(제 20001261호)</p>
                        </div>
                    </div>
                </div>


                <div class="text" id="content-4">
                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>1999</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>12월</h6>
                            <p>공장품질관리 1등급 획득(대우국민차)</p>
                        </div>
                        <div class="item_text">
                            <h6>7월</h6>
                            <p>QS9000 인증 획득(인증기관: 미국 ABS QE)</p>
                        </div>
                        <div class="item_text">
                            <h6>2월</h6>
                            <p>함안 제 2공장 증축</p>
                        </div>
                    </div>

                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>1998</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>2월</h6>
                            <p>100PPM 품질인증 획득(중소기업청)</p>
                        </div>
                        <div class="item_text">
                            <h6>1월</h6>
                            <p>HWS 9002 2등급 획득(현대자동차(주))</p>
                        </div>
                    </div>

                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>1997</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>12월</h6>
                            <p>KSA/ISO 9002인증 획득(중소기업 인증 센터)</p>
                        </div>
                    </div>

                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>1996</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>4월</h6>
                            <p>현대자동차(주) 불량 100PPM 달성</p>
                        </div>
                    </div>

                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>1995</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>6월</h6>
                            <p>법인전환 -> 현물 출자(자본금 950백만원)</p>
                        </div>
                    </div>

                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>1994</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>4월</h6>
                            <p>노사관계 우수업체 선정(상공부) -> 청와대 간담회 참석</p>
                        </div>
                    </div>

                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>1993</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>12월</h6>
                            <p>제 2공장 준공</p>
                        </div>
                        <div class="item_text">
                            <h6>4월</h6>
                            <p>제 2공장 착공(경남 울산시 울주군 두서면 두서농공단지 내)</p>
                        </div>
                        <div class="item_text">
                            <h6>2월</h6>
                            <p>92년도 불량 100PPM 우수업체 선정(현대자동차(주))</p>
                        </div>
                    </div>
                </div>


                <div class="text" id="content-5">
                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>1989</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>12월</h6>
                            <p>중소기업 근대화 실천계획 인증(자동차 부품)<br/>
                                공장 품질관리 2등급 획득(공업 진흥청)
                            </p>
                        </div>
                        <div class="item_text">
                            <h6>11월</h6>
                            <p>중소기업 유망업체 지정(경남은행)</p>
                        </div>
                    </div>

                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>1988</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>12월</h6>
                            <p>현대자동차(주) 협력업체 등록</p>
                        </div>
                        <div class="item_text">
                            <h6>7월</h6>
                            <p>경남 마산시 봉암 1단지 입주</p>
                        </div>
                    </div>

                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>1985</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>4월</h6>
                            <p>상공부 자동차 부품 계열화 업체 선정</p>
                        </div>
                    </div>

                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>1984</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>8월</h6>
                            <p>경남 마산시 양덕동 확장 이전</p>
                        </div>
                    </div>

                    <div class="test_item fix">
                        <div class="item_img">
                            <h2 class="title"><b>1983</b></h2>
                        </div>
                        <div class="item_text">
                            <h6>12월</h6>
                            <p>우수기계공업사 설립(경남 마산시 산호동 소재)</p>
                        </div>
                    </div>
                </div>
            </div><!-- End off row -->
        </div>
    </div>
</div>
</html>