<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<head>
    <style>
        span{
            color: #A6121F;
        }
    </style>
</head>

<div layout:fragment="content">

    <br /> <br /> <br /> <br /> <br /> <!--왜 이럼??-->

    <!--Business Section-->
    <section id="business" class="business bg-grey roomy-70">
        <div class="container">
            <div class="row">
                <div class="main_business">
                    <div class="col-md-6">
                        <div class="business_slid">
                            <div class="slid_shap bg-grey"></div>
                            <div class="business_items text-center">

                                <div class="business_item">
                                    <div class="business_img">
                                        <img src="css/images/intro_img_01.jpg" alt="" />
                                    </div>
                                </div>

                                <div class="business_item">
                                    <div class="business_img">
                                        <img src="css/images/about-img1.jpg" alt="" />
                                    </div>
                                </div>

                                <div class="business_item">
                                    <div class="business_img">
                                        <img src="css/images/about-img1.jpg" alt="" />
                                    </div>
                                </div>

                                <div class="business_item">
                                    <div class="business_img">
                                        <img src="css/images/about-img1.jpg" alt="" />
                                    </div>
                                </div>

                                <div class="business_item">
                                    <div class="business_img">
                                        <img src="css/images/about-img1.jpg" alt="" />
                                    </div>
                                </div>

                                <div class="business_item">
                                    <div class="business_img">
                                        <img src="css/images/about-img1.jpg" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="business_item sm-m-top-50">
                            <h2 class="text-uppercase"><strong>WELCOME TO </strong><span> WOOSU AMS</span></h2>
                            <ul>
                                <li><i class="fa fa-arrow-circle-right"></i> 우수AMS(주) 창원본사</li>
                                <li><i class="fa fa-arrow-circle-right"></i> 우수AMS(주) 울산지점</li>
                                <li><i class="fa fa-arrow-circle-right"></i> 우수정기(주)</li>
                                <li><i class="fa fa-arrow-circle-right"></i> 우수AMS(주) CASCO</li>
                                <li><i class="fa fa-arrow-circle-right"></i> 우수인디아 (인도공장)</li>
                                <li><i class="fa fa-arrow-circle-right"></i> 우수체코 (체코공장)</li>
                            </ul>

                            <div class="business_btn">
                                <a href="" class="btn btn-default m-top-20">Read More</a>
                                <a href="" class="btn btn-primary m-top-20">Buy Now</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End off Business section -->
    <!-- End off Business section -->


    <!--Test section-->
    <section id="test" class="test bg-grey roomy-60 fix">
        <div class="container">
            <div class="row">
                <div class="main_test fix">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="head_title text-center fix">
                            <h2 class="text-uppercase">회사개요</h2>
                            <h5><b>우수AMS(주)는 <span>환경을 먼저 생각하고 자연과 더불어 발전해 가는 기업</span>입니다.</b><br/><br/>
                                저희 우수AMS(주)는 1983년 창립이래 자동차부품을 전문적으로 생산하고 있으며<br/>
                                생산된 부품은 국내 완성차업체 및 해외 고객에 공급되고 있습니다.
                            </h5>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="test_item fix">
                            <div class="item_img">
                                <img class="img-circle" src="css/images/test-img1.jpg" alt="" />
                                <i class="fa fa-quote-left"></i>
                            </div>

                            <div class="item_text">
                                <h5><b>회사소개</b></h5>
                                <h6>회사의 법적, 상업적 명칭</h6>

                                <p>당사의 명칭은 우수AMS주식회사이며<br/> 영문으로는 WOOSU AMS CO.,LTD.라 표기합니다.</p>

                                <h6>중소기업</h6>

                                <p>당사는 중소기업기본법 제2조에 의한 중소기업에 해당됩니다.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="test_item fix sm-m-top-30">
                            <div class="item_img">
                                <img class="img-circle" src="css/images/test-img2.jpg" alt="" />
                                <i class="fa fa-quote-left"></i>
                            </div>

                            <div class="item_text">
                                <h5><b>회사성장</b></h5>
                                <h6>설립일자 및 존속기간</h6>

                                <p>1983년 2월 우수기계공업사로 설립되었고, <br/>
                                    이후 1995년 6월에 우수기계공업주식회사로 법인전환 하였습니다.<br/>
                                    이후 2007년 3월에 우수AMS주식회사로 상호를 변경하게 되었습니다.<br/>
                                    또한 코스닥시장 상장은 2003년 2월에 하였습니다.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="test_item fix sm-m-top-30">
                            <div class="item_img">
                                <img class="img-circle" src="css/images/test-img2.jpg" alt="" />
                                <i class="fa fa-quote-left"></i>
                            </div>

                            <div class="item_text">
                                <h5><b>주요사업</b></h5>
                                <h6>주요사업</h6>

                                <p>자동차 부품 전문 생산업체로서 조향부품, 구동부품 등 <br/>
                                    자동차부품의 제조를 그 주된 사업으로 하고 있습니다.</p>

                                <h6>계열사</h6>

                                <p><b>1. 우수AMS(주) 울산지점</b><br/>
                                    <b>2. 우수AMS(주) CASCO</b><br/>
                                    <b>3. 우수정기(주)</b><br/>
                                    <b>4. WOOSU AUTOMOTIVE INDIA PVT LTD</b><br/>
                                    <b>5. WOOSU CZECH s.r.o</b><br/></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section><!-- End off test section -->

    <!--Call to  action section-->
    <section id="action" class="action bg-primary roomy-40">
        <div class="container">
            <div class="row">
                <div class="maine_action">
                    <div class="col-md-8">
                        <div class="action_item text-center">
                            <h2 class="text-white text-uppercase">PRODUCTS INFO</h2>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="action_btn text-left sm-text-center">
                            <a href="" class="btn btn-default">자세히 보기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>


</html>