<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<head>
  <style>
    .col-md-12, .col-sm-12, .col-xs-12{
      padding-top: 50px;
      padding-bottom: 70px;
    }
    span{
      color: #A6121F;
      font-weight: bold;
    }


  </style>
</head>

<div layout:fragment="content">

  <br /> <br /> <br /> <br /> <br /> <!--왜 이럼??-->
  <!--뭐 넣지-->
  <!--Featured Section-->
  <section id="test" class="test bg-grey roomy-60 fix">
    <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="head_title text-center fix">
              <h2 class="text-uppercase">계열사</h2>
              <h4>우수AMS(주)는 세계 도약을 위헤 <span>변화와 창조를 추구</span>합니다.</h4>
              <h5>국내 뿐만 아니라 세계에서 인정받는 자동차 부품업체로 도약하기 위헤<br/>
                  전 임직원이 일심동체가 되어 고객만족을 실천하겠습니다.
              </h5>
            </div>
          </div>

        <div class="main_test fix" >
          <div class="col-md-6" style="padding-bottom: 30px">
            <div class="test_item fix" style="width: 1150px; height:300px">

              <div class="item_img">
                <div class="text-center">
                  <h5><b>우수AMS(주) <span>창원본사</span></b></h5>
                </div>
                <img class="img-thumbnail" src="css/images/pic_cw.jpg" alt="" style="width: 220px; height: 150px"/>
              </div>


              <div class="item_text 1" style="width: 150px; height: 150px">

                <h6><b>설립일자</b></h6>
                <p>1983년 2월 5일(마산)</p>

                <h6><b>법인전환</b></h6>
                <p>1995년 6월 1일</p>

              </div>

              <div class="item_text 2" style="width: 150px; height: 150px">

                <h6><b>주소</b></h6>
                <p>경상남도 창원시 성산구 <br/> 월림로 62(신촌동)</p>

              </div>

              <div class="item_text 3" style="width: 150px; height: 150px">

                <h6><b>전화</b></h6>
                <p>055-274-5011~6</p>

                <h6><b>팩스</b></h6>
                <p>055-274-5016</p>

              </div>

              <div class="item_text 4" style="width: 200px; height: 150px">

                <h6><b>주생산품</b></h6>
                <p>Diff-Assy</p>
                <p>Air-Comp</p>

                <p>T/M-Case</p>
                <p>Fork-Shift Clutch Hous’g Knuckle</p>
                <p>In-Manifold Cap-Cam Shaft</p>

              </div>




            </div>
            </div>
          </div>


        <div class="main_test fix" >
          <div class="col-md-6" style="padding-bottom: 30px">
            <div class="test_item fix" style="width: 1150px; height:300px">
              <div class="item_img">
                <div class="text-center">
                  <h5><b>우수AMS(주) <span>울산지점</span></b></h5>
                </div>
                <img class="img-thumbnail" src="css/images/pic_us.jpg" alt="" style="width: 220px; height: 150px"/>
              </div>


              <div class="item_text" style="width: 150px; height: 150px">

                <h6><b>설립일자</b></h6>
                <p>1993년 12월 5일</p>

                <h6><b>법인전환</b></h6>
                <p>-</p>

              </div>

              <div class="item_text" style="width: 150px; height: 150px">

                <h6><b>주소</b></h6>
                <p>울산광역시 울주군 상북면 산전후리로 40-5</p>

              </div>

              <div class="item_text" style="width: 150px; height: 150px">

                <h6><b>전화</b></h6>
                <p>052-264-8011~5</p>

                <h6><b>팩스</b></h6>
                <p>052-264-8016</p>

              </div>

              <div class="item_text" style="width: 200px; height: 150px">

                <h6><b>주생산품</b></h6>
                <p>Bracket</p>
                <p>8속 Annulus-Gear</p>
                <p>Piston-Clutch</p>

              </div>

            </div>
          </div>
        </div>

        <div class="main_test fix" >
          <div class="col-md-6" style="padding-bottom: 30px">
            <div class="test_item fix" style="width: 1150px; height:300px">
              <div class="item_img">
                <div class="text-center">
                  <h5><b>우수정기(주)</b></h5>
                </div>
                <img class="img-thumbnail" src="css/images/pic_uj.jpg" alt="" style="width: 220px; height: 150px"/>
              </div>


              <div class="item_text" style="width: 150px; height: 150px">

                <h6><b>설립일자</b></h6>
                <p>1974년 12월 5일</p>

                <h6><b>법인전환</b></h6>
                <p>2007년 10월 1일</p>

              </div>

              <div class="item_text" style="width: 150px; height: 150px">

                <h6><b>주소</b></h6>
                <p>울산광역시 울주군 상북면 산전후리로 40-5</p>

              </div>

              <div class="item_text" style="width: 150px; height: 150px">

                <h6><b>전화</b></h6>
                <p>052-333-2211</p>

                <h6><b>팩스</b></h6>
                <p>052-264-8016</p>

              </div>

              <div class="item_text" style="width: 200px; height: 150px">

                <h6><b>주생산품</b></h6>
                <p>Shaft Complete Assy</p>
                <p>Park’g Rod Assy</p>
                <p>Inner-Race</p>
                <p>Rocker Shaft Assy</p>
                <p>Piston-Pin</p>
                <p>Bracket</p>
                <p>Rail-Sub Assy Shift</p>

              </div>

            </div>
          </div>
        </div>


        <div class="main_test fix" >
          <div class="col-md-6" style="padding-bottom: 30px">
            <div class="test_item fix" style="width: 1150px; height:300px">
              <div class="item_img">
                <div class="text-center">
                  <h5><b>우수AMS(주) <span>CASCO</span></b></h5>
                </div>
                <img class="img-thumbnail" src="css/images/pic_casco.jpg" alt="" style="width: 220px; height: 150px"/>
              </div>


              <div class="item_text" style="width: 150px; height: 150px">

                <h6><b>설립일자</b></h6>
                <p>2015년 11월</p>

                <h6><b>법인전환</b></h6>
                <p>-</p>

              </div>

              <div class="item_text" style="width: 150px; height: 150px">

                <h6><b>주소</b></h6>
                <p>울산광역시 울주군 상북면 거리 1176-7</p>

              </div>

              <div class="item_text" style="width: 150px; height: 150px">

                <h6><b>전화</b></h6>
                <p>055-264-8011~5</p>

                <h6><b>팩스</b></h6>
                <p>055-264-8016</p>

              </div>

              <div class="item_text" style="width: 200px; height: 150px">

                <h6><b>주생산품</b></h6>
                <p>T/M SUPT BRKT</p>
              </div>

            </div>
          </div>
        </div>


        <div class="main_test fix" >
          <div class="col-md-6" style="padding-bottom: 30px">
            <div class="test_item fix" style="width: 1150px; height:300px">
              <div class="item_img">
                <div class="text-center">
                  <h5><b>우수INDIA <span>인도</span></b></h5>
                </div>
                <img class="img-thumbnail" src="css/images/pic_india.jpg" alt="" style="width: 220px; height: 150px"/>
              </div>


              <div class="item_text" style="width: 150px; height: 150px">

                <h6><b>설립일자</b></h6>
                <p>2007년 10월 20일</p>

                <h6><b>법인전환</b></h6>
                <p>2008년 11월 30일</p>

              </div>

              <div class="item_text" style="width: 150px; height: 150px">

                <h6><b>주소</b></h6>
                <p>인도 첸나이</p>

              </div>

              <div class="item_text" style="width: 150px; height: 150px">

                <h6><b>전화</b></h6>
                <p>+91 44 2765 5359</p>

              </div>

              <div class="item_text" style="width: 200px; height: 150px">

                <h6><b>주생산품</b></h6>
                <p>Shaft Complete Assy</p>
                <p>Rail-Shift Sub Assy</p>
                <p>Fork-Shift</p>
                <p>Brkt-Eng Mtg & T/M Supt</p>
                <p>Shaft Input</p>

              </div>

            </div>
          </div>
        </div>


        <div class="main_test fix" >
          <div class="col-md-6" style="padding-bottom: 30px">
            <div class="test_item fix" style="width: 1150px; height:300px">
              <div class="item_img">
                <div class="text-center">
                  <h5><b>우수CZECH <span>체코</span></b></h5>
                </div>
                <img class="img-thumbnail" src="css/images/pic_czech.jpg" alt="" style="width: 220px; height: 150px"/>
              </div>


              <div class="item_text" style="width: 150px; height: 150px">

                <h6><b>설립일자</b></h6>
                <p>2012년 4월 5일</p>

                <h6><b>법인전환</b></h6>
                <p>-</p>

              </div>

              <div class="item_text" style="width: 150px; height: 150px">

                <h6><b>주소</b></h6>
                <p>체코 셰노브</p>

              </div>

              <div class="item_text" style="width: 150px; height: 150px">

                <h6><b>전화</b></h6>
                <p>-</p>

                <h6><b>팩스</b></h6>
                <p>-</p>

              </div>

              <div class="item_text" style="width: 200px; height: 150px">

                <h6><b>주생산품</b></h6>
                <p>Rail Sub Assy</p>
                <p>CSC</p>

              </div>

            </div>
          </div>
        </div>

      </div><!-- End off row -->
    </div><!-- End off container -->
  </section><!-- End off Featured Section-->

  <section id="action" class="action bg-primary roomy-40">
    <div class="container">
      <div class="row">
        <div class="maine_action">
          <div class="col-md-8">
            <div class="action_item text-center">
              <h2 class="text-white text-uppercase">PRODUCTS INFO</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="action_btn text-left sm-text-center">
              <a href="" class="btn btn-default">자세히 보기</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</html>