<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">
    <style>
        ul.navbar-right{
            margin: 0px;
            padding: 0px;
            list-style: none;
        }
        ul.navbar-right li{
            background: none;
            /*color: #222;*/
            display: inline-block;
            cursor: pointer;
        }

        ul.navbar-right li.current{
            /*background: #ededed;*/
            /*color: #222;*/
        }

        .tab-content{
            display: none;
            /*background: #ededed;*/
            padding: 15px;
        }

        .tab-content.current{
            display: inherit;
        }

        .tab-content-menu li{
            background: none;
            /*color: #222;*/
            display: inline-block;
            cursor: pointer;
        }

    </style>
    <!-- Preloader -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>
            </div>
        </div>
    </div><!--End off Preloader -->


<!--    <div class="culmn">-->
        <!--Home page style-->


        <nav class="navbar navbar-default bootsnav navbar-fixed">
            <div class="navbar-top bg-grey fix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="navbar-callus text-left sm-text-center">
                                <ul class="list-inline">
                                    <li><a href=""><i class="fa fa-phone"></i> Call us: 1234 5678 90</a></li>
                                    <li><a href=""><i class="fa fa-envelope-o"></i> Contact us: your@email.com</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="navbar-socail text-right sm-text-center">
                                <ul class="list-inline">
                                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href=""><i class="fa fa-behance"></i></a></li>
                                    <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Start Top Search -->
            <div class="top-search">
                <div class="container">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                    </div>
                </div>
            </div>
            <!-- End Top Search -->


            <div class="container">
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div>

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="/css/images/logo.png" class="logo" alt="">
                        <!--<img src="assets/images/footer-logo.png" class="logo logo-scrolled" alt="">-->
                    </a>

                </div>
                <!-- End Header Navigation -->

                <!-- navbar menu -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="tab-link" data-tab="tab-1"><a href="#">회사소개</a></li>
                        <li class="tab-link" data-tab="tab-2"><a href="#">연구개발</a></li>
                        <li class="tab-link" data-tab="tab-3"><a href="#">제품소개</a></li>
                        <li class="tab-link" data-tab="tab-4"><a href="#">투자정보</a></li>
                        <li class="tab-link" data-tab="tab-5"><a href="#">인재경영</a></li>
                        <li class="tab-link" data-tab="tab-6"><a href="#">고객센터</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
                <div id="tab-1" class="tab-content">
                    <ul class="tab-content-menu">
                        <li><a href="#">인사말</a></li>
                        <li><a href="#">회사개요</a></li>
                        <li><a href="#">회사연혁</a></li>
                        <li><a href="#">VISION</a></li>
                        <li><a href="#">경영방침</a></li>
                        <li><a href="#">조직구성</a></li>
                        <li><a href="#">계열사</a></li>
                        <li><a href="#">우수CI</a></li>
                        <li><a href="#">오시는 길</a></li>
                    </ul>
                </div>
                <div id="tab-2" class="tab-content">
                    <ul class="tab-content-menu">
                        <li><a href="#">연구소 소개</a></li>
                        <li><a href="#">연구성과</a></li>
                        <li><a href="#">인증서 현황</a></li>
                    </ul>
                </div>
                <div id="tab-3" class="tab-content">
                    <ul class="tab-content-menu">
                        <li><a href="#">엔진부품군</a></li>
                        <li><a href="#">변속기부품군</a></li>
                    </ul>
                </div>
                <div id="tab-4" class="tab-content">
                    <ul class="tab-content-menu">
                        <li><a href="#">주가정보</a></li>
                        <li><a href="#">제무정보</a></li>
                        <li><a href="#">공시정보</a></li>
                        <li><a href="#">IR정보</a></li>
                        <li><a href="#">주주상담</a></li>
                    </ul>
                </div>
                <div id="tab-5" class="tab-content">
                    <ul class="tab-content-menu">
                        <li><a href="#">채용정보</a></li>
                        <li><a href="#">채용공고 및 접수</a></li>
                        <li><a href="#">채용FAQ</a></li>
                        <li><a href="#">채용Q&A</a></li>
                    </ul>
                </div>
                <div id="tab-6" class="tab-content">
                    <ul class="tab-content-menu">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#">홍보동영상</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Sitemap</a></li>
                    </ul>
                </div>
            </div>

        </nav>
</header>
</html>