<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<head>
</head>
<div layout:fragment="content">
    <div class="container">
        <div class="row" style="margin-top:100px;">
            <div class="main_features fix roomy-70">

                <div class="col-md-6">
                    <div class="business_slid">
                        <div class="slid_shap bg-grey"></div>
                        <div class="business_items text-center">

<!--                          <div class="business_item">-->
<!--                            <div class="business_img">-->
                              <img src="css/images/about-img1.jpg" alt="" />
<!--                            </div>-->
<!--                          </div>-->

                        </div>
                    </div><!--/col-md-6-->

                </div>
            </div>
        </div>
    </div>
</div>
</html>