<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<head>
  <style>
    h3{
      font-size: 25px;
      text-align:center;
      margin-bottom: 20px;
      font-weight: bold;
    }
    #divide{
      border-bottom:2px solid #a6121f;
      width:100%;
      margin-bottom: 20px;
    }
    .menu{
      display: inline-block;
      width:16%;
      vertical-align: top;
      border-right: 1px solid #eee;
      padding-left: 10px;
      height: 500px;
    }
    .menu h5{
      text-align:center;
      font-size: 20px;
      margin-bottom: 25px;
    }
    .highlight{
      color: #a6121f;
      font-size: 16px;
      font-weight: bold;
    }
    .sub_menu{
      margin-bottom: 10px;
    }
    .sub_menu.sub li a{
      color: #aaa;
      padding-left: 5px;
    }
  </style>
</head>
<div layout:fragment="content">
  <div class="container">
    <div class="row" style="margin-top:100px;">
      <div class="main_features fix roomy-70">
        <h3>sitemap</h3>
        <div id="divide"></div>

        <div class="menu">
          <h5>회사소개</h5>
          <ul>
            <li class="sub_menu"><a href="greetings"><span class="highlight">인사말</span></a></li>

            <li class="sub_menu">
              <a href="intro"><span class="highlight">회사개요</span></a>
              <ul class="sub_menu sub">
                <li><a href="intro">회사개요</a></li>
                <li><a href="history">회사연혁</a></li>
                <li><a href="#">VISION</a></li>
                <li><a href="#">조직구성</a></li>
                <li><a href="#">우수CI</a></li>
              </ul>
            </li>

            <li class="sub_menu">
              <a href="#"><span class="highlight">경영방침</span></a>
              <ul class="sub_menu sub">
                <li><a href="#">경영방침</a></li>
                <li><a href="regulation">규정/약관</a></li>
              </ul>
            </li>

            <li class="sub_menu"><a href="#"><span class="highlight">계열사</span></a></li>

            <li class="sub_menu">
              <a href="#"><span class="highlight">오시는 길</span></a>
              <ul class="sub_menu sub">
                <li><a href="#">우수AMS(주) 창원</a></li>
                <li><a href="#">우수AMS(주) 울산</a></li>
                <li><a href="#">우수정기(주)</a></li>
                <li><a href="#">우수AMS(주) CASCO</a></li>
                <li><a href="#">우수 인디아</a></li>
                <li><a href="#">우수 체코</a></li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="menu">
          <h5>연구개발</h5>

          <ul>
            <li class="sub_menu"><a href="#"><span class="highlight">연구소 소개</span></a></li>
            <li class="sub_menu"><a href="#"><span class="highlight">연구성과</span></a></li>
            <li class="sub_menu"><a href="#"><span class="highlight">인증서 현황</span></a></li>
          </ul>

        </div>
        <div class="menu">
          <h5>제품소개</h5>

          <ul>
            <li class="sub_menu">
              <a href="#"><span class="highlight">엔진부품군</span></a>
              <ul class="sub_menu sub">
                <li><a href="#">Air-Compressor Ass'y</a></li>
                <li><a href="#">Drive pump Ass'y</a></li>
                <li><a href="#">Intake Mannifold</a></li>
                <li><a href="#">Adaptor sater outlet</a></li>
                <li><a href="#">Cap-Camshaft</a></li>
                <li><a href="#">Roker Arm Shaft Ass'y</a></li>
                <li><a href="#">Valve Guide</a></li>
              </ul>
            </li>
            <li class="sub_menu">
              <a href="#"><span class="highlight">변속기부품군</span></a>
              <ul class="sub_menu sub">
                <li><a href="#">Intermediate Plate Ass'y</a></li>
                <li><a href="#">Differential Case Ass'y</a></li>
                <li><a href="#">T/M Case & Clutch Housing</a></li>
                <li><a href="#">CSC</a></li>
                <li><a href="#">Rail Shift Ass'y</a></li>
                <li><a href="#">Fork Shift</a></li>
                <li><a href="#">Main Shift</a></li>
                <li><a href="#">Parking System Sub Parts</a></li>
              </ul>
            </li>
          </ul>

        </div>
        <div class="menu">
          <h5>투자정보</h5>

          <ul>
            <li class="sub_menu"><a href="#"><span class="highlight">주가정보</span></a></li>
            <li class="sub_menu"><a href="#"><span class="highlight">제무정보</span></a></li>
            <li class="sub_menu"><a href="#"><span class="highlight">공시정보</span></a></li>
            <li class="sub_menu"><a href="#"><span class="highlight">IR정보</span></a></li>
            <li class="sub_menu"><a href="#"><span class="highlight">주주상담</span></a></li>
          </ul>

        </div>
        <div class="menu">
          <h5>인재경영</h5>

          <ul>
            <li class="sub_menu"><a href="#"><span class="highlight">채용안내</span></a></li>
            <li class="sub_menu"><a href="#"><span class="highlight">채용공고 및 접수</span></a></li>
            <li class="sub_menu"><a href="#"><span class="highlight">채용FAQ</span></a></li>
            <li class="sub_menu"><a href="#"><span class="highlight">채용Q&A</span></a></li>
          </ul>

        </div>
        <div class="menu">
          <h5>고객센터</h5>

          <ul>
            <li class="sub_menu"><a href="board"><span class="highlight">공지사항</span></a></li>
            <li class="sub_menu"><a href="board"><span class="highlight">고객센터</span></a></li>
            <li class="sub_menu"><a href="pr"><span class="highlight">홍보동영상</span></a></li>
            <li class="sub_menu"><a href="contact"><span class="highlight">Contact Us</span></a></li>
            <li class="sub_menu"><a href="sitemap"><span class="highlight">Sitemap</span></a></li>
          </ul>

        </div>

      </div>
    </div>
  </div>
</div>
</html>